<h1>Projection Blend Calculator</h1>
<h2>Info</h2>
<table>
    <tr>
        <td>Surface ID:</td>
        <td>{surface_id}</td>
    </tr>
    <tr>
        <td>Notes:</td>
        <td>{notes}</td>
    </tr>
</table>

<h2>Projection surface data</h2>
<table>
    <tr>
        <td>Surface size, mm:</td>
        <td>{surface_size}</td>
    </tr>
    <tr>
        <td>Surface resolution:</td>
        <td>{surface_resolution}</td>
    </tr>
    <tr>
        <td>Projectors required:</td>
        <td>{projectors_count}</td>
    </tr>
    <tr>
        <td>Blend width, mm:</td>
        <td>{blend_mm}</td>
    </tr>
    <tr>
        <td>Blend width, px:</td>
        <td>{blend_px}</td>
    </tr>
</table>

<h2>Projector data</h2>
<table>
    <tr>
        <td>Single projection size, mm:</td>
        <td>{projector_size}</td>
    </tr>
    <tr>
        <td>Projector resolution:</td>
        <td>{projector_resolution}</td>
    </tr>
    <tr>
        <td>Projector throw ratio:</td>
        <td>{throw_ratio}</td>
    </tr>
    <tr>
        <td>Pixel size, mm:</td>
        <td>{pixel_size}</td>
    </tr>
    <tr>
        <td>Distance:</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Side step:</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Main step:</td>
        <td>?</td>
    </tr>
</table>

<h2 style="page-break-before:always">Schemes</h2>

<h3>Front view</h3>
<p>
    <img src="dynamic:/images/front.png" width="600"/>
</p>


<h3>Top view</h3>
<p>
    <img src="dynamic:/images/top.png" width="600"/>
</p>
